// button reset
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}


/* Demo */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 2.15em;
    line-height: 2.15;
    margin: 0.125em;
    padding: 0.0125em 0 0 0;
    width: 32%;
    outline: 0;
    @media #{$brk-narrow} {
    	display: block;
    	width: 90%;
    	margin:0 auto;
    }
}



#tabs {
	text-align:center;
	li {
		margin-bottom: 1.5em;
		display: inline-block;
		&.ui-state-active {
			a {
				color: $gold;
				border-bottom: 4px solid $gold;
				&:hover { 
					color: $gold;
					background-color:0;
				}
			} 
		}
		a {
			color: $grey; 
			outline: 0;
			text-transform: uppercase;
			font-family: $Gotham;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: 2px;
			padding: 1em 1.5em;
			cursor: pointer;
			outline: 0;
			position:relative; 
			@include transition(0.1s);
			&:hover { 
				border-bottom: 4px solid $gold;
			}
		}
	}
}

.slick-next, .slick-prev {
	font-size:50px;
	height: 50px;
	width:50px;
	right:-50px;
	top:25%;
	&:hover {
		vertical-align: top;
		&:before {
			vertical-align: top;
		}
	}
}

 .slick-prev {
 	left:-75px;
 }

.slick-next:before, .slick-prev:before {
	color:#000;
	font-size:50px;
	vertical-align: top;

}

button {
	@include transition(0.2s);
	&:hover {
		background-color:$grey +20;
	}
	background-color:$grey;
	letter-spacing:1px;
	cursor: pointer;
	font-family: $Gotham;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
}

.cta{
  position: fixed;
  top: 5%;
  right: 0;
  z-index: 999;
  svg {
  	width: 20px;
  	height: 20px;
  	vertical-align: bottom;
  	margin-right: .4em;
  }
  .join-us {
  	svg {
  		width: 24px;
  		height: 24px;
  		margin-bottom: -3px;
  	}
  }
  ul {
	list-style-type: none;
	  li {
	  	background: rgba(0,0,0,.8);
	  	font-weight: bold; 
	  	font-size: .9em;
	  	padding: 10px 20px;
	  	margin-bottom: .2em;
	  	cursor: pointer;
	  	text-transform: uppercase;
	  	text-align:left;
	  	@include transition(0.2s);
	  	@include border-radius-left(5px);
	  	&:hover {
	  		background-color: #000;
	  	}
	  	a {
	  		color: #fff;
	  		text-decoration: none;
	  	}
	  }
  }
  @media #{$brk-narrow} {
  	top:auto;
  	right:auto;
  	bottom:auto;
  	left:auto;
  	ul {
  		padding:0;
  		margin:0;
  		width: 100%;
  		li {
	  		position: fixed;
	  		font-size: .5em;
	  		bottom:0;
	  		width: 33.3333%;
	  		margin: 0;
	  		text-align:center;
			@include border-radius(0);
			&.donate{left: 0; img {height:18px;}}
			&.join-us {left:33.3333%;}
			&.learn{left:66.6666%;}
			.join {
				margin:0;
				height: 18px;
			}
	  	}
	  }
  }
}

.trigger {
	position: absolute;
	font-family:  $Open-sans;
    color: #fff;
    top:42px;
    z-index: 999;
    padding: 10px 30px;
    border: 1px solid;
    right: 14%;
}