input[type=text], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  width: 33%;
  //margin-bottom: 1em;
  @media #{$brk-narrow} {
    display: block;
    width: 95%;
    margin:.5em auto;
  }
}
input[type=password] {
  display: none;
}
#human-verification {
	display:inline-block;
	width:40px;
}

fieldset {
	width: 80%;
	margin:0 auto; 
	border:0;
  @media #{$brk-narrow} {
    width: 90%;
  }
	legend, label {
		display: none;
	}
	label {
		display: none;
	}
}

