.blog-header {
	height: 120px;
	background-color: #fff;
	width: 100%;
	.logo-container {
		max-width: 1140px;
		margin:0 auto;
		display: block;
	}
	img {
		margin: 10px auto 0 auto;
		@media handheld, only screen and (max-width: 767px) {
			margin: 10px;
		}
	}
	h1 {
		margin: 0 auto;
		padding: 0 15px;
		text-indent: -9999999px;
		background-size: auto 60px;
		background-repeat: no-repeat;
	}
}
#blog {
	background-color: $color-gray-background;
	padding-bottom: 4em;
	ul {
		margin: 0;
	    padding: 0;
	    list-style-type: none;
	    li {
	    	display: inline-block;
	    }
	}
	button {
		width: auto;
		margin: .5em 1.5em .5em 0;
		padding: .5em 1em; 
	}
	.page-heading {
		margin: 1em 0 -1.5em 0;
    	font-size: 34px;
    	text-transform: capitalize;
	}
	h1 {
		margin: 15px 0;
		font-size: 1.7em;
		text-transform: capitalize;
	}
	.col-8-12, .col-4-12 {
		padding: 0 1em;
	}
	.col-4-12 {
		margin-top: 6.2em;
		padding-left: 5em;
		.blog-intro {
			border-left: 1px solid $color-gray-light;
			padding-left: 1.5em;
			p {
				margin-bottom: 1em;
				font-size: 15px;
			}
		}
	}
	.sidebar-heading {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $Open-sans;
	}
	.categories-all {
		li {
			display: block;
			margin: 1.5em 0;
			text-transform: capitalize;
		}
		.category-active {
			border-left: 3px solid;
		    padding-left: 1.4em;
		    margin-left: -1.65em;
		}
	}
	.tags-all li {
		margin-top: 1.5em;
		padding: 1em;
    	border: 1px solid $color-gray-light;
    	border-radius: 2px;
    	margin-right: 1em;
	}
	.tags-all, .categories-all {
		font-size: 14px;
		border-left: 1px solid $color-gray-light;
		padding-left: 1.5em;
		margin-top: 4em;
	}
	.img-post {
		width: 100%;
		height: 390px;
		background-size: cover;
		background-position: 50%;
	}
	.category-post {
		margin-top: 2em;
		font-size: 13px;
		li {
			margin-right: 1em;
    		text-transform: uppercase;
    		font-weight: 700;
			color: $color-gray-light;
		}
	}
	.post-link {
		color: $red;
	}
	.post {
		margin-top: 65px;
		background-color: #fff;
		border: 1px solid $color-gray-light;
		width:100%;
		.blog-excerpt {
			padding: 0 1.5em;
			p {
				padding-bottom: 1em;
			}
			img {
				width: 100%;
			}
		}
	}
}