# Site settings
title: Uplift - Overcoming Extreme Poverty
email: contact@joinuplift.org
description: >
  Uplift is a rapidly growing initiative committed to empowering the next one million 
  women and families in 20 countries with basic skills, training and assets to overcome extreme poverty.
baseurl: ""
url: "https://joinuplift.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
permalink: /:title
exclude: ['_src', '_grunt', 'node_modules', 'Gruntfile.js', 'package.json', 'README.md']