<script type="text/javascript" src="/assets/js/application.min.js"></script>


<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-63778104-1');ga('send','pageview');

    (function (){
        
            // Initialize lazy loading
            var bLazy = new Blazy({ 
                breakpoints: [{
              width: 768 // max-width
              , src: 'data-src-medium'
          }]})
        
    })();
</script>