        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="cta">
                <ul>
                    <li class="donate"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=S8J56MWT9BRRU" target="_blank"><svg><use xlink:href="#icon-heart" /></svg>Donate</a></li>
                    <li class="join-us"><a href="mailto:info@joinuplift.org"><svg><use xlink:href="#icon-join" /></svg> Join Us</a></li>
                    <li class="learn"><a href="http://amplifierstrategies.com/collaborative-initiatives/targeting-ultra-poverty/" target="_blank"><svg><use xlink:href="#icon-learn" /></svg>Learn</a></li>
                </ul>
            </div>