@charset "UTF-8";
/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */ }

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    /* grid-space to left */
    padding-right: 5px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */ }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

.no-margin {
  margin: 0 !important; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/* Demo */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background-color: #f0f0f0;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.15em;
  line-height: 2.15;
  margin: 0.125em;
  padding: 0.0125em 0 0 0;
  width: 32%;
  outline: 0; }
  @media (max-width: 768px) {
    [role="button"],
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
      display: block;
      width: 90%;
      margin: 0 auto; } }

#tabs {
  text-align: center; }
  #tabs li {
    margin-bottom: 1.5em;
    display: inline-block; }
    #tabs li.ui-state-active a {
      color: #007E90;
      border-bottom: 4px solid #007E90; }
      #tabs li.ui-state-active a:hover {
        color: #007E90;
        background-color: 0; }
    #tabs li a {
      color: #00B8B9;
      outline: 0;
      text-transform: uppercase;
      font-family: "Gotham", "Times New Roman", Times, serif;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 1em 1.5em;
      cursor: pointer;
      outline: 0;
      position: relative;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
      #tabs li a:hover {
        border-bottom: 4px solid #007E90; }

.slick-next, .slick-prev {
  font-size: 50px;
  height: 50px;
  width: 50px;
  right: -50px;
  top: 25%; }
  .slick-next:hover, .slick-prev:hover {
    vertical-align: top; }
    .slick-next:hover:before, .slick-prev:hover:before {
      vertical-align: top; }

.slick-prev {
  left: -75px; }

.slick-next:before, .slick-prev:before {
  color: #000;
  font-size: 50px;
  vertical-align: top; }

button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #00B8B9;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Gotham", "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff; }
  button:hover {
    background-color: #14cccd; }

.cta {
  position: fixed;
  top: 5%;
  right: 0;
  z-index: 999; }
  .cta svg {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: .4em; }
  .cta .join-us svg {
    width: 24px;
    height: 24px;
    margin-bottom: -3px; }
  .cta ul {
    list-style-type: none; }
    .cta ul li {
      background: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      font-size: .9em;
      padding: 10px 20px;
      margin-bottom: .2em;
      cursor: pointer;
      text-transform: uppercase;
      text-align: left;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-border-bottom-left-radius: 5px;
      -moz-bottom-left-radius: 5px;
      border-bottom-left: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-top-left-radius: 5px;
      border-top-left: 5px; }
      .cta ul li:hover {
        background-color: #000; }
      .cta ul li a {
        color: #fff;
        text-decoration: none; }
  @media (max-width: 768px) {
    .cta {
      top: auto;
      right: auto;
      bottom: auto;
      left: auto; }
      .cta ul {
        padding: 0;
        margin: 0;
        width: 100%; }
        .cta ul li {
          position: fixed;
          font-size: .5em;
          bottom: 0;
          width: 33.3333%;
          margin: 0;
          text-align: center;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0; }
          .cta ul li.donate {
            left: 0; }
            .cta ul li.donate img {
              height: 18px; }
          .cta ul li.join-us {
            left: 33.3333%; }
          .cta ul li.learn {
            left: 66.6666%; }
          .cta ul li .join {
            margin: 0;
            height: 18px; } }

.trigger {
  position: absolute;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  top: 2%;
  z-index: 999;
  padding: 10px 30px;
  border: 1px solid;
  right: 14%; }

input[type=text], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  width: 33%; }
  @media (max-width: 768px) {
    input[type=text], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
      display: block;
      width: 95%;
      margin: .5em auto; } }

input[type=password] {
  display: none; }

#human-verification {
  display: inline-block;
  width: 40px; }

fieldset {
  width: 80%;
  margin: 0 auto;
  border: 0; }
  @media (max-width: 768px) {
    fieldset {
      width: 90%; } }
  fieldset legend, fieldset label {
    display: none; }
  fieldset label {
    display: none; }

.icon-lock {
  width: 24px;
  height: 24px;
  vertical-align: bottom; }

svg.link {
  height: 15px;
  width: 15px;
  vertical-align: middle; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/*Theme*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("/assets/img/icons/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/slick.eot");
  src: url("/assets/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/slick.woff") format("woff"), url("/assets/fonts/slick.ttf") format("truetype"), url("/assets/fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

body {
  font-size: 14px; }
  @media handheld, only screen and (max-width: 767px) {
    body {
      font-size: 12px; } }

.white {
  color: #fff; }

h1, h2, h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.logo {
  color: #fff;
  position: absolute;
  top: 0;
  font-size: 1em;
  left: 1em; }

h1 {
  font-size: 2.7em; }
  h1.subsection {
    font-size: 1.8em; }
    @media (max-width: 768px) {
      h1.subsection {
        padding-left: 10px;
        padding-right: 10px; } }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1em;
  text-transform: none; }

p, ul, li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5; }
  p.merriweather, ul.merriweather, li.merriweather {
    font-family: "Merriweather", Helvetica, Arial, sans-serif; }

a {
  color: #000;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

a.secondary {
  font-family: arial;
  font-weight: normal;
  font-size: .9em; }

p.small {
  font-size: .7em;
  font-family: Arial; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.all-caps {
  text-transform: uppercase; }

.bigtext {
  font-size: 1.8em; }

.important-italic {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em; }

.column-container p {
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-style: italic;
  margin-top: 0; }

.column-container h2 {
  line-height: 1;
  margin-bottom: .3em; }

.fullscreenimgbg {
  color: #fff; }
  .fullscreenimgbg h1, .fullscreenimgbg p {
    width: 50%;
    font-weight: bold;
    margin: 0; }
  .fullscreenimgbg p {
    text-shadow: 0 0 5px #000;
    font-size: 2.5em;
    letter-spacing: 1px;
    line-height: 1.5; }
    .fullscreenimgbg p span {
      font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    @media (max-width: 768px) {
      .fullscreenimgbg p {
        font-size: 1.5em; } }
  .fullscreenimgbg blockquote {
    margin-top: 5em;
    text-align: center;
    font-style: italic;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-size: 2em; }
    .fullscreenimgbg blockquote footer {
      text-transform: uppercase;
      font-family: "Gotham", "Times New Roman", Times, serif;
      font-weight: bold;
      font-style: normal;
      font-size: .8em;
      margin-top: 1em; }

.center {
  text-align: center; }

.fifty {
  width: 70%;
  margin: 0 auto; }

.photo-credit {
  color: white;
  text-shadow: #000 0 0 0.2em;
  font-size: 0.8em;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 15px;
  right: 25px; }
  .photo-credit.black {
    color: #000;
    text-shadow: none; }

h1 span.logotext {
  display: none; }

.columns-extreme-poverty {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; }
  .columns-extreme-poverty div[class^="col-"] {
    padding: 0 .2em 0 0;
    margin: 0;
    width: 16.5%; }
    @media (max-width: 768px) {
      .columns-extreme-poverty div[class^="col-"] {
        width: 100%; } }
  .columns-extreme-poverty svg {
    height: 117px;
    width: 117px; }

.column-container {
  min-height: 10em;
  text-align: center;
  padding: 0 1em;
  color: #000;
  line-height: 1.7; }
  @media (max-width: 768px) {
    .column-container img {
      width: 100%;
      max-width: 120px; } }

.graduation {
  width: 90%;
  margin-top: 1.9em; }

.section {
  padding: 2em 0 3em 0;
  margin: 2.5em 0; }
  @media (max-width: 768px) {
    .section {
      text-align: center; } }
  .section.white {
    background-color: #f1f1f1;
    color: #000; }

.carousel {
  max-width: 960px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .carousel {
      width: 80%; } }
  @media (max-width: 768px) {
    .carousel .news-container {
      text-align: center;
      margin-bottom: 2.5em; } }
  .carousel .news-container img {
    width: 90%; }
  .carousel .news-container h2 {
    width: 95%; }
  .carousel .news-container a {
    color: #000;
    text-decoration: none; }

.ui-tabs-panel {
  min-height: 20em;
  margin-top: 2em; }
  @media (max-width: 768px) {
    .ui-tabs-panel {
      height: auto; } }
  .ui-tabs-panel p {
    width: 80%;
    margin: 0 auto;
    text-align: left; }

@media (max-width: 768px) {
  #tabs ul {
    display: none !important; } }

.tab-section {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 768px) {
  #tabs-1,
  #tabs-3 {
    background: #f1f1f1;
    padding: 10px; } }

@media (max-width: 768px) {
  #tabs-2,
  #tabs-4 {
    background: white;
    padding: 10px; } }

.fullscreenimgbg {
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  .fullscreenimgbg h1 {
    padding-top: 2em; }
    @media (max-width: 768px) {
      .fullscreenimgbg h1 {
        padding-top: 2.5em;
        width: 100%; } }
  @media (max-width: 768px) {
    .fullscreenimgbg p {
      width: 100%; } }
  .fullscreenimgbg blockquote {
    width: 40%;
    text-shadow: 1px 1px 5px #000; }
    @media (max-width: 768px) {
      .fullscreenimgbg blockquote {
        width: 90%;
        margin: 4em auto 0 auto; } }

.hero h1, .hero p {
  width: 30%; }
  @media (max-width: 768px) {
    .hero h1, .hero p {
      width: 100%; } }

.hero p {
  margin-top: -62px;
  -ms-transform: rotate(-13deg);
  /* IE 9 */
  -webkit-transform: rotate(-13deg);
  /* Chrome, Safari, Opera */
  -moz-transform: rotate(-13deg);
  /* Firefox */
  transform: rotate(-13deg);
  font-weight: normal;
  line-height: 1.3;
  height: 200px;
  margin-left: 40px;
  text-align: center;
  font-size: 2.2em;
  font-style: italic; }
  @media (max-width: 768px) {
    .hero p {
      width: 100% !important;
      -ms-transform: rotate(0);
      /* IE 9 */
      -webkit-transform: rotate(0);
      /* Chrome, Safari, Opera */
      -moz-transform: rotate(0);
      /* Firefox */
      transform: rotate(0);
      margin: 0; } }

.hero svg {
  width: 360px;
  height: 235px; }
  @media (max-width: 768px) {
    .hero svg {
      width: 300px;
      margin: 0 auto; } }

@media (min-width: 1540px) {
  .hero {
    height: 55em !important; } }

@media (min-width: 1950px) {
  .hero {
    height: 65em !important; } }

@media (max-width: 480px) {
  .hero {
    background-image: url("/assets/img/hero-image-mobile.jpg") !important; } }

.why-now-section {
  background-position: top center;
  position: relative; }
  @media (max-width: 768px) {
    .why-now-section {
      background-image: url("/assets/img/why-now-bg-mobile.jpg") !important; } }

.why-now {
  color: #000;
  width: 50%;
  margin: 0 0 0 5%; }
  @media (max-width: 768px) {
    .why-now {
      width: 85%; } }
  .why-now a {
    font-weight: bold; }
    .why-now a:hover {
      text-decoration: underline; }
  .why-now p {
    padding: 1em; }

.arrow-section {
  padding: 40px 30px;
  position: relative;
  background: #007E90;
  color: #fff; }
  .arrow-section p {
    font-size: 1.8em; }
    @media (max-width: 768px) {
      .arrow-section p {
        font-size: 1.4em;
        width: 80%; } }
  .arrow-section:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #007E90;
    border-width: 30px;
    margin-left: -30px; }

button.submit-mail {
  max-width: 150px; }
  @media (max-width: 768px) {
    button.submit-mail {
      width: 95%;
      max-width: none;
      margin: 0 auto; } }

.blue-bg p.important-italic {
  width: 85%;
  margin: 2em auto 0 auto;
  line-height: 1.7; }

.everyone {
  background: #802275;
  color: white; }

@media (max-width: 768px) {
  .bottom-quote {
    background-image: url("/assets/img/bottom-banner-image-mobile.jpg") !important; } }

.half-raiser {
  padding-bottom: 0.5em;
  display: block; }

.blog-header {
  height: 120px;
  background-color: #fff;
  width: 100%; }
  .blog-header .logo-container {
    max-width: 1140px;
    margin: 0 auto;
    display: block; }
  .blog-header img {
    margin: 10px auto 0 auto; }
    @media handheld, only screen and (max-width: 767px) {
      .blog-header img {
        margin: 10px; } }
  .blog-header h1 {
    margin: 0 auto;
    padding: 0 15px;
    text-indent: -9999999px;
    background-size: auto 60px;
    background-repeat: no-repeat; }

#blog {
  background-color: #F2F2F2;
  padding-bottom: 4em; }
  #blog ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #blog ul li {
      display: inline-block; }
  #blog button {
    width: auto;
    margin: .5em 1.5em .5em 0;
    padding: .5em 1em; }
  #blog .page-heading {
    margin: 1em 0 -1.5em 0;
    font-size: 34px;
    text-transform: capitalize; }
  #blog h1 {
    margin: 15px 0;
    font-size: 1.6em;
    text-transform: capitalize; }
  #blog .col-8-12, #blog .col-4-12 {
    padding: 0 1em; }
  #blog .col-4-12 {
    margin-top: 6.2em;
    padding-left: 5em; }
    @media handheld, only screen and (max-width: 767px) {
      #blog .col-4-12 {
        padding-left: 10px; } }
    #blog .col-4-12 .blog-intro {
      border-left: 1px solid #D8D8D8;
      padding-left: 1.5em; }
      #blog .col-4-12 .blog-intro p {
        margin-bottom: 1em;
        font-size: 15px; }
  #blog .sidebar-heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  #blog .categories-all li {
    display: block;
    margin: 1.5em 0;
    text-transform: capitalize; }
  #blog .categories-all .category-active {
    border-left: 3px solid;
    padding-left: 1.4em;
    margin-left: -1.65em; }
  #blog .tags-all li {
    margin-top: 1.5em;
    padding: 1em;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    margin-right: 1em; }
  #blog .tags-all, #blog .categories-all {
    font-size: 14px;
    border-left: 1px solid #D8D8D8;
    padding-left: 1.5em;
    margin-top: 4em; }
  #blog .img-post {
    width: 100%;
    height: 390px;
    background-size: cover;
    background-position: 50%; }
  #blog .category-post {
    margin-top: 2em;
    font-size: 13px; }
    #blog .category-post li {
      margin-right: 1em;
      text-transform: uppercase;
      font-weight: 700;
      color: #D8D8D8; }
  #blog .post-link {
    color: #f15c27; }
  #blog .post {
    margin-top: 65px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    width: 100%; }
    #blog .post .blog-excerpt {
      padding: 0 1.5em; }
      #blog .post .blog-excerpt p {
        padding-bottom: 1em; }
      #blog .post .blog-excerpt img {
        width: 100%; }

/*# sourceMappingURL=style.css.map */